*.jl.*.cov
*.jl.cov
*.jl.mem
.DS_Store
.vscode/

/Manifest*.toml
/docs/Manifest*.toml
/docs/build/
/docs/node_modules/
/docs/package-lock.json

/benchmarks/Manifest*.toml
/benchmarks/results/
/benchmarks/reference/
/benchmarks/logs/
/benchmarks/fitting/data/
/benchmarks/fitting/results/
/benchmarks/correctness/data/
/benchmarks/correctness/results/
/benchmarks/correctness/environment_correctness.txt
